html{
    background-color: black;
}

.main{
    display: flex;
    flex-direction: column;
}

.contenedor-fondo-logo{
    background-color: black;
    position: relative;
    width: 100%;
    float: left;
    padding-top: 3%;
    padding-bottom: 3%;
}

.fondo-logo{
    display: flex;
    justify-content: space-around;
}

.fondo-logo > * {
    height: 35%;
    width: 35%;
}

/*Botones pagina index*/
.contenedor-botones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    padding-top: 3%;
    padding-bottom: 3%;
}

.boton-menu-main{
    display: flex;
    flex-direction: column;
}

.imagen-boton{
    max-width: 10rem;
}

.imagen-boton > * {
    max-width: inherit;
}

.imagen-menu-tamaño > * {
    max-width: inherit;
}

.texto-boton-menu-main{
    position: relative;
    top: -55%;
    max-width: min-content;
    left: 15%;
}

a{
    text-decoration: none;
}

.boton-menu{
    color: black;
    font-size: 1.5rem;
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
    font-weight: bold;
}

/*Otras cosas*/

.otras-cosas {
    padding-top: 20%;
    padding-bottom: 20%;
    background-color: rgb(48, 47, 47);
    color: white;
    text-align: center;
}